body {
  background-color: #F7F7F7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 80%;
  margin: 50px auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

label {
  width: 150px;
  text-align: right;
  margin-right: 20px;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

input[type="submit"] {
  background-color: #0099FF;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #0077CC;
}

.result {
  margin-top: 50px;
  text-align: center;
}

.result label {
  font-weight: bold;
}

.result span {
  font-size: 1.2em;
  margin-left: 10px;
}
