<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1 class="title">My Flask App</h1>
      <div class="form-container">
        <form method="post" action="/">
          <label for="arg1">Argument 1:</label>
          <input type="text" id="arg1" name="arg1" required>

          <label for="arg2">Argument 2:</label>
          <input type="text" id="arg2" name="arg2" required>

          <label for="arg3">Argument 3:</label>
          <input type="text" id="arg3" name="arg3" required>

          <label for="arg4">Argument 4:</label>
          <input type="text" id="arg4" name="arg4" required>

          <label for="arg5">Argument 5:</label>
          <input type="text" id="arg5" name="arg5" required>

          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="result-container">
        {% if result %}
        <h2 class="subtitle">Results:</h2>
        <p>{{ result }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
