<!DOCTYPE html>
<html>
  <head>
    <title>Input Form</title>
  </head>
  <body>
    <form method="post" action="/">
      <label for="user_input_1">Enter value 1:</label>
      <input type="text" name="user_input_1" id="user_input_1"><br>
      <label for="user_input_2">Enter value 2:</label>
      <input type="text" name="user_input_2" id="user_input_2"><br>
      <label for="user_input_3">Enter value 3:</label>
      <input type="text" name="user_input_3" id="user_input_3"><br>
      <label for="user_input_4">Enter value 4:</label>
      <input type="text" name="user_input_4" id="user_input_4"><br>
      <label for="user_input_5">Enter value 5:</label>
      <input type="text" name="user_input_5" id="user_input_5"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
