<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Options Calculator</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Options Calculator</h1>
      <form method="POST" action="/options">
         <div class="center">
            <label>
               <input type="radio" name="option_type" value="call" checked> Call
            </label>
            <label>
               <input type="radio" name="option_type" value="put"> Put
            </label>
         </div>
         <div class="center">
            <label>Asset Price:</label>
            <input type="number" name="asset_price" step="0.01" required>
         </div>
         <div class="center">
            <label>Asset Volatility:</label>
            <input type="number" name="asset_volatility" step="0.01" required>
         </div>
         <div class="center">
            <label>Strike Price:</label>
            <input type="number" name="strike_price" step="0.01" required>
         </div>
         <div class="center">
            <label>Time to Expiration:</label>
            <input type="number" name="time_to_expiration" step="0.01" required>
         </div>
         <div class="center">
            <label>Risk-free Rate:</label>
            <input type="number" name="risk_free_rate" step="0.01" required>
         </div>
         <div class="center">
            <input type="submit" value="Calculate">
         </div>
      </form>
   </body>
</html>
